.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtitle {
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0px;
}
.box-red {
    background-color: red;
    /* background-image: url('https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg');
    background-size: cover; */
    border: 2px solid black;
}

.box-yellow {
    background-color: yellow;
    width: 100px;
    height: 200px;
}
.box-green {
    background-color: green;
    width: 50px;
    height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 300px 150px;
}

.grid-container-fraction {
    display: grid;
    /* fr: significa fraccion de el espacio 
    restante o disponible */
    grid-template-columns: 150px 1fr; 
}

.grid-container-auto {
    display: grid;
    grid-template-columns: 100px auto 1fr;
}

.grid-container-rows {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 300px;
}

.grid-container-rows-auto {
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    grid-template-rows: 50px auto;
}

.grid-container-join {
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    grid-template-rows: auto auto auto;
}

.box-1 {
    background-color: yellow;
    grid-column: 1 / span 2;
}

.box-4{
    background-color: green;
    grid-column: 2 / span 2 ;
}